*{
    padding: 0px;
    margin: 0px;
}

.main_container{
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: bisque; 
}

.back_ground{
    width: 50%;
    height: 70%;
    background-color: #FAF4F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
}

.review{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer; 
}

select ::-ms-expand {
    display:none;
}
.select {
    display: flex;
    width: 80%;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
}




.emoji   {
    width: 40px;
    height: 40px;
    font-size: 40px;
    border: none;
    cursor: pointer;
    
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    

}

h2 {
    text-align: center;
    margin: 0px 50px 15px;
}

.submit {
    padding: 10px 30px;
    background-color: #5c6664;
    font-size: 18px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

.button_container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 10%;
}


@media screen and (max-width:650px) {
    .back_ground{
        width: 90%;
    }
    
}


@media screen and (max-width:780px) {
    h2{
        font-size: 15px;
        margin: 0px 10px 15px;
    }
}

